@import "tailwindcss";

@theme {
    --color-primary: hsl(36, 45%, 96%);
    --color-secondary: hsla(36, 45%, 96%, 0.8);

    --color-accent-primary: hsl(183, 100%, 35%);
    --color-accent-secondary: hsl(183, 100%, 35%, 0.7);

    --color-bg-primary: hsl(231, 13%, 20%);
    --color-bg-secondary: hsl(231, 13%, 32%);
}

body {
    color: var(--color-primary);
}